In [2]:
import akshare as ak
import datetime
import pandas as pd
import numpy as np

C:\Users\KK\Anaconda3\lib\site-packages\pandas\compat\_optional.py:138: UserWarning: Pandas requires version '2.7.0' or newer of 'numexpr' (version '2.6.9' currently installed).
  warnings.warn(msg, UserWarning)

In [3]:
df = ak.stock_zh_a_hist(symbol='000001', start_date=datetime.datetime(2021, 1, 1), end_date=datetime.datetime.today(), adjust='qfq')
df.head(10)

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
0,2021-01-04,18.92,18.42,18.92,18.26,1554216,2.891682e+09,3.44,-3.86,-0.74,0.80
1,2021-01-05,18.22,17.99,18.30,17.62,1821352,3.284607e+09,3.69,-2.33,-0.43,0.94
2,2021-01-06,17.90,19.38,19.38,17.82,1934945,3.648522e+09,8.67,7.73,1.39,1.00
3,2021-01-07,19.34,19.72,19.80,19.05,1584185,3.111275e+09,3.87,1.75,0.34,0.82
4,2021-01-08,19.72,19.67,19.92,19.13,1195473,2.348316e+09,4.01,-0.25,-0.05,0.62
5,2021-01-11,19.82,20.20,20.46,19.82,1790457,3.652547e+09,3.25,2.69,0.53,0.92
6,2021-01-12,20.21,20.82,20.82,20.00,1288166,2.657687e+09,4.06,3.07,0.62,0.66
7,2021-01-13,20.82,20.52,20.83,20.22,1049120,2.161850e+09,2.93,-1.44,-0.30,0.54
8,2021-01-14,20.50,19.99,20.71,19.77,1130156,2.306405e+09,4.58,-2.58,-0.53,0.58
9,2021-01-15,20.82,20.82,21.77,20.64,2480689,5.311218e+09,5.65,4.15,0.83,1.28

In [4]:
df['date'] = pd.to_datetime(df['日期'], format='%Y-%m-%d')
df.set_index('date', inplace=True)
df.head(10)

,日期,开盘,收盘,最高,最低,成交量,成交额,振幅,涨跌幅,涨跌额,换手率
date,,,,,,,,,,,
2021-01-04,2021-01-04,18.92,18.42,18.92,18.26,1554216,2.891682e+09,3.44,-3.86,-0.74,0.80
2021-01-05,2021-01-05,18.22,17.99,18.30,17.62,1821352,3.284607e+09,3.69,-2.33,-0.43,0.94
2021-01-06,2021-01-06,17.90,19.38,19.38,17.82,1934945,3.648522e+09,8.67,7.73,1.39,1.00
2021-01-07,2021-01-07,19.34,19.72,19.80,19.05,1584185,3.111275e+09,3.87,1.75,0.34,0.82
2021-01-08,2021-01-08,19.72,19.67,19.92,19.13,1195473,2.348316e+09,4.01,-0.25,-0.05,0.62
2021-01-11,2021-01-11,19.82,20.20,20.46,19.82,1790457,3.652547e+09,3.25,2.69,0.53,0.92
2021-01-12,2021-01-12,20.21,20.82,20.82,20.00,1288166,2.657687e+09,4.06,3.07,0.62,0.66
2021-01-13,2021-01-13,20.82,20.52,20.83,20.22,1049120,2.161850e+09,2.93,-1.44,-0.30,0.54
2021-01-14,2021-01-14,20.50,19.99,20.71,19.77,1130156,2.306405e+09,4.58,-2.58,-0.53,0.58
2021-01-15,2021-01-15,20.82,20.82,21.77,20.64,2480689,5.311218e+09,5.65,4.15,0.83,1.28

In [5]:
w_df = df.resample('W').agg({'开盘':'first', '收盘':'last', '最高':'max', '最低':'min','成交量':'sum'})
w_df.head(20)

               开盘     收盘     最高     最低      成交量
date
2021-01-10  18.92  19.67  19.92  17.62  8090171
2021-01-17  19.82  20.82  21.77  19.77  7738588
2021-01-24  21.02  21.85  22.79  21.02  6549396
2021-01-31  21.54  22.91  23.36  21.25  5546974
2021-02-07  22.82  24.75  25.13  22.52  8085504
2021-02-14  24.72  23.64  24.78  23.20  3945226
2021-02-21  23.82  23.67  24.37  23.30  2427814
2021-02-28  23.62  21.20  23.62  21.03  7974182
2021-03-07  21.36  22.16  23.31  21.00  6612197
2021-03-14  22.26  21.30  22.51  20.10  5250946
2021-03-21  21.22  20.29  21.94  20.19  4937154
2021-03-28  20.37  20.96  21.47  20.22  4298952
2021-04-04  21.10  21.32  21.93  21.02  3426883
2021-04-11  21.37  21.12  21.91  20.90  1700698
2021-04-18  21.33  20.08  21.33  19.63  3097948
2021-04-25  19.85  23.11  23.47  19.73  5197080
2021-05-02  23.69  23.11  24.05  22.60  3113505
2021-05-09  22.92  23.87  24.12  22.92  1302509
2021-05-16  23.82  23.32  23.86  22.60  2805365
2021-05-23  23.15  23.49  24.13  22.95  2297524

In [6]:
w_df['ma5'] = w_df['收盘'].rolling(window=5).mean()
w_df.head(10)

               开盘     收盘     最高     最低      成交量     ma5
date
2021-01-10  18.92  19.67  19.92  17.62  8090171     NaN
2021-01-17  19.82  20.82  21.77  19.77  7738588     NaN
2021-01-24  21.02  21.85  22.79  21.02  6549396     NaN
2021-01-31  21.54  22.91  23.36  21.25  5546974     NaN
2021-02-07  22.82  24.75  25.13  22.52  8085504  22.000
2021-02-14  24.72  23.64  24.78  23.20  3945226  22.794
2021-02-21  23.82  23.67  24.37  23.30  2427814  23.364
2021-02-28  23.62  21.20  23.62  21.03  7974182  23.234
2021-03-07  21.36  22.16  23.31  21.00  6612197  23.084
2021-03-14  22.26  21.30  22.51  20.10  5250946  22.394

In [7]:
w_df.rename(columns={'收盘':'close', '成交量':'volume'}, inplace=True)
w_df.head()

               开盘  close     最高     最低   volume   ma5
date
2021-01-10  18.92  19.67  19.92  17.62  8090171   NaN
2021-01-17  19.82  20.82  21.77  19.77  7738588   NaN
2021-01-24  21.02  21.85  22.79  21.02  6549396   NaN
2021-01-31  21.54  22.91  23.36  21.25  5546974   NaN
2021-02-07  22.82  24.75  25.13  22.52  8085504  22.0

In [8]:
import takeoff_analysis
import imp

In [9]:
imp.reload(takeoff_analysis)
takeoff_analysis.prepare(w_df)
w_df.tail(20)

,开盘,close,最高,最低,volume,ma5,pct_change,ma5_pct_change,var
date,,,,,,,,,
2021-04-11,21.37,21.12,21.91,20.90,1700698,20.998,-0.009381,-0.009809,-1.0
2021-04-18,21.33,20.08,21.33,19.63,3097948,20.754,-0.049242,-0.011620,-1.0
2021-04-25,19.85,23.11,23.47,19.73,5197080,21.318,0.150896,0.027175,2.0
2021-05-02,23.69,23.11,24.05,22.60,3113505,21.748,0.000000,0.020171,2.0
2021-05-09,22.92,23.87,24.12,22.92,1302509,22.258,0.032886,0.023450,2.0
2021-05-16,23.82,23.32,23.86,22.60,2805365,22.698,-0.023041,0.019768,1.0
2021-05-23,23.15,23.49,24.13,22.95,2297524,23.380,0.007290,0.030047,2.0
2021-05-30,23.48,24.50,25.16,23.19,3232067,23.658,0.042997,0.011891,1.0
2021-06-06,24.33,24.54,24.96,23.38,2795536,23.944,0.001633,0.012089,1.0
2021-06-13,24.48,23.37,25.06,23.12,2836704,23.844,-0.047677,-0.004176,-1.0
2021-06-20,23.35,22.65,23.69,22.39,2186212,23.710,-0.030809,-0.005620,-1.0
2021-06-27,22.60,23.36,23.60,22.01,2874188,23.684,0.031347,-0.001097,-1.0
2021-07-04,23.36,21.81,23.50,21.76,3814952,23.146,-0.066353,-0.022716,-2.0
2021-07-11,21.69,21.27,23.05,21.02,4339667,22.492,-0.024759,-0.028255,-2.0
2021-07-18,21.50,21.34,21.82,20.41,3912472,22.086,0.003291,-0.018051,-1.0
2021-07-25,21.36,20.10,21.43,20.00,3675299,21.576,-0.058107,-0.023092,-2.0
2021-08-01,19.96,17.69,19.99,17.24,5694383,20.442,-0.119900,-0.052558,-2.0
2021-08-08,17.64,17.86,18.15,17.18,3975520,19.652,0.009610,-0.038646,-2.0
2021-08-15,17.91,19.89,20.58,17.84,5332437,19.376,0.113662,-0.014044,-1.0
2021-08-22,20.09,19.95,20.20,19.57,627050,19.098,0.003017,-0.014348,-1.0

In [13]:
w_df['norm'] = w_df['var'].map(lambda x: 0 if abs(x) < 2 else x )
w_df.dropna(inplace=True)
w_df

,开盘,close,最高,最低,volume,ma5,pct_change,ma5_pct_change,var,norm
date,,,,,,,,,,
2021-02-14,24.72,23.64,24.78,23.20,3945226,22.794,-0.044848,0.036091,2.0,2.0
2021-02-21,23.82,23.67,24.37,23.30,2427814,23.364,0.001269,0.025007,2.0,2.0
2021-02-28,23.62,21.20,23.62,21.03,7974182,23.234,-0.104351,-0.005564,-1.0,0.0
2021-03-07,21.36,22.16,23.31,21.00,6612197,23.084,0.045283,-0.006456,-1.0,0.0
2021-03-14,22.26,21.30,22.51,20.10,5250946,22.394,-0.038809,-0.029891,-2.0,-2.0
...,...,...,...,...,...,...,...,...,...,...
2021-07-25,21.36,20.10,21.43,20.00,3675299,21.576,-0.058107,-0.023092,-2.0,-2.0
2021-08-01,19.96,17.69,19.99,17.24,5694383,20.442,-0.119900,-0.052558,-2.0,-2.0
2021-08-08,17.64,17.86,18.15,17.18,3975520,19.652,0.009610,-0.038646,-2.0,-2.0
2021-08-15,17.91,19.89,20.58,17.84,5332437,19.376,0.113662,-0.014044,-1.0,0.0
2021-08-22,20.09,19.95,20.20,19.57,627050,19.098,0.003017,-0.014348,-1.0,0.0

In [14]:
grouped = w_df.groupby((w_df['norm'] != w_df['norm'].shift()).cumsum())
trend = grouped.agg(trend=('norm', 'first'), duration=('norm', 'count'))
trend['prev'], trend['next'] = trend['trend'].shift(), trend['trend'].shift(-1)
trend['norm_trend'] = trend.apply(lambda x: x['prev'] if x['trend'] == 0 and x['duration'] <= 2 and x['prev'] == x['next'] else x['trend'], axis=1)
trend

      trend  duration  prev  next  norm_trend
norm
1       2.0         2   NaN   0.0         2.0
2       0.0         2   2.0  -2.0         0.0
3      -2.0         3   0.0   0.0        -2.0
4       0.0         3  -2.0   2.0         0.0
5       2.0         3   0.0   0.0         2.0
6       0.0         1   2.0   2.0         2.0
7       2.0         1   0.0   0.0         2.0
8       0.0         5   2.0  -2.0         0.0
9      -2.0         2   0.0   0.0        -2.0
10      0.0         1  -2.0  -2.0        -2.0
11     -2.0         3   0.0   0.0        -2.0
12      0.0         2  -2.0   NaN         0.0

In [15]:
norm_grouped = trend.groupby((trend['norm_trend'] != trend['norm_trend'].shift()).cumsum(), as_index=False)
final_trend = norm_grouped.agg(trend=('norm_trend', 'first'), len=('duration', 'sum'))
final_trend

   trend  len
0    2.0    2
1    0.0    2
2   -2.0    3
3    0.0    3
4    2.0    5
5    0.0    5
6   -2.0    6
7    0.0    2