In [32]:
import pandas as pd
import numpy as np

pd.set_option('max_rows', 20)

DATA_FILE_PATH_WIN = 'D:/analytics/stock/hist'
TEST_DATA_FILE_PATH = 'D:/analytics/stock/hist/002415.csv'

df = pd.read_csv(TEST_DATA_FILE_PATH, index_col=0, parse_dates=True, \
                 usecols=['date', 'close', 'p_change', 'ma5', 'ma10', 'ma20'], \
                 error_bad_lines=False)
df

            close  p_change     ma5    ma10    ma20
date
2016-04-22  31.17      2.37  30.686  30.857  30.809
2016-04-21  30.45      0.79  30.732  30.806  30.803
2016-04-20  30.21     -1.60  30.880  30.831  30.875
2016-04-19  30.70     -0.65  31.064  30.946  30.953
2016-04-18  30.90     -1.59  31.004  31.016  31.038
2016-04-15  31.40      0.67  31.028  30.976  31.037
2016-04-14  31.19      0.19  30.880  30.918  30.967
2016-04-13  31.13      2.40  30.782  30.909  30.868
2016-04-12  30.40     -2.00  30.828  30.781  30.792
2016-04-11  31.02      1.17  31.028  30.799  30.743
...           ...       ...     ...     ...     ...
2013-05-10  35.42      0.88  36.090  36.675  36.675
2013-05-09  35.11     -3.49  36.406  36.814  36.814
2013-05-08  36.38      0.53  36.784  37.028  37.028
2013-05-07  36.19     -3.11  36.752  37.120  37.120
2013-05-06  37.35      0.95  36.890  37.275  37.275
2013-05-03  37.00      0.00  37.260  37.260  37.260
2013-05-02  37.00      2.15  37.325  37.325  37.325
2013-04-26  36.22     -1.79  37.433  37.433  37.433
2013-04-25  36.88     -5.92  38.040  38.040  38.040
2013-04-24  39.20      0.82  39.200  39.200  39.200

[688 rows x 5 columns]

In [5]:
r = df.resample('W')
# daily average price change percent on weekly basis
r['p_change'].mean().dropna().sort_values()

date
2015-07-12   -5.413333
2015-06-21   -3.862000
2013-12-08   -2.440000
2015-03-08   -2.382500
2014-03-23   -2.336000
                ...
2015-04-05    2.442000
2013-06-16    2.645000
2014-12-07    2.842000
2015-01-11    3.418000
2015-05-24    6.086000
Name: p_change, dtype: float64

In [2]:
import pandas as pd
import numpy as np

WEEKLY_DATA_FOLDER = 'E:/analytics/stock/hist-W-2016-0627'
WEEKLY_SAMPLE_PATH = 'E:/analytics/stock/hist-W-2016-0627/002643.csv'

df = pd.read_csv(WEEKLY_SAMPLE_PATH, index_col=0, parse_dates=True, \
                 usecols=['date', 'close', 'p_change', 'ma5', 'ma10', 'ma20'], \
                 error_bad_lines=False)
df

            close  p_change     ma5    ma10    ma20
date
2016-06-27  58.10      3.11  52.744  50.356  42.310
2016-06-24  56.35      7.33  50.660  48.755  41.205
2016-06-17  52.50      6.56  49.130  47.041  40.087
2016-06-08  49.27      3.73  48.250  45.011  39.300
2016-06-03  47.50     -0.38  47.926  43.202  38.561
2016-05-27  47.68     -2.09  47.968  41.792  38.409
2016-05-20  48.70      1.25  46.850  40.089  38.051
2016-05-13  48.10      0.94  44.952  38.317  37.742
2016-05-06  47.65     -0.13  41.772  36.678  37.301
2016-04-29  47.71     13.35  38.478  35.273  36.798
2016-04-22  42.09      7.34  35.616  34.263  36.314
2016-04-15  39.21     21.77  33.328  33.654  35.965
2016-04-08  32.20      3.27  31.682  33.133  35.823
2016-04-01  31.18     -6.65  31.584  33.588  36.013
2016-03-25  33.40      8.97  32.068  33.920  36.139
2016-03-18  30.65     -1.06  32.910  35.025  36.085
2016-03-11  30.98     -2.30  33.980  36.013  36.246
2016-03-04  31.71     -5.62  34.584  37.166  36.141
2016-02-26  33.60    -10.66  35.592  37.923  35.781
2016-02-19  37.61      4.47  35.772  38.323  35.320
2016-02-05  36.00      5.88  37.140  38.364  34.622
2016-01-29  34.00     -7.48  38.046  38.276  33.967
2016-01-22  36.75      6.52  39.748  38.512  33.309
2016-01-15  34.50    -22.39  40.254  38.437  32.517
2016-01-08  44.45      9.67  40.874  38.357  31.794

In [3]:
r_df = df.sort_index()
r_df.rolling(window=5)['close'].mean()

date
2016-01-08       NaN
2016-01-15       NaN
2016-01-22       NaN
2016-01-29       NaN
2016-02-05    37.140
2016-02-19    35.772
2016-02-26    35.592
2016-03-04    34.584
2016-03-11    33.980
2016-03-18    32.910
2016-03-25    32.068
2016-04-01    31.584
2016-04-08    31.682
2016-04-15    33.328
2016-04-22    35.616
2016-04-29    38.478
2016-05-06    41.772
2016-05-13    44.952
2016-05-20    46.850
2016-05-27    47.968
2016-06-03    47.926
2016-06-08    48.250
2016-06-17    49.130
2016-06-24    50.660
2016-06-27    52.744
Name: close, dtype: float64

In [4]:
pct_change = df['ma5'].pct_change().fillna(0)  # trim off first N/A element
pct_change

date
2016-06-27    0.000000
2016-06-24   -0.039512
2016-06-17   -0.030201
2016-06-08   -0.017912
2016-06-03   -0.006715
2016-05-27    0.000876
2016-05-20   -0.023307
2016-05-13   -0.040512
2016-05-06   -0.070742
2016-04-29   -0.078857
2016-04-22   -0.074380
2016-04-15   -0.064241
2016-04-08   -0.049388
2016-04-01   -0.003093
2016-03-25    0.015324
2016-03-18    0.026257
2016-03-11    0.032513
2016-03-04    0.017775
2016-02-26    0.029146
2016-02-19    0.005057
2016-02-05    0.038242
2016-01-29    0.024394
2016-01-22    0.044735
2016-01-15    0.012730
2016-01-08    0.015402
Name: ma5, dtype: float64

In [18]:
s = df['ma5']
change_point = None
for i in range(0, len(s)-1):
    if s[i] < s[i+1]:
        change_point = i
        break
if not change_point:
    change_point = len(s) - 1
startdate = df.index[change_point]
increase = round(s[0] / s[change_point] - 1, 4) * 100
period = s[0:change_point+1]
print(startdate, increase, change_point+1, df[:change_point+1]['p_change'].mean(), \
      round(df[:change_point+1]['p_change'].std(), 2))

2016-06-03 00:00:00 10.05 5 4.07 3.07

In [27]:
import re
import glob
import os
import os.path
import pandas as pd
import sys

WEEKLY_DATA_FOLDER = 'D:/analytics/stock/hist-W-2016-0627'

reg = re.compile(r'(\d{6}).csv')
stocks = {t[1].group(1):t[0] for t in ((x, reg.search(x)) for x in glob.glob(WEEKLY_DATA_FOLDER + '/*.csv')) if t[1]}
# [os.path.isfile(x) for x in list(stocks.values())[:5]]

def find_increase_trend(path):
    df = pd.read_csv(path, index_col=0, parse_dates=True, \
                usecols=['date', 'close', 'p_change', 'ma5', 'ma10', 'ma20'], \
                error_bad_lines=False)
    s = df['ma5']
    # the position from which MA starts to rise
    change_point = None
    for i in range(0, len(s)-1):
        if s[i] < s[i+1]:
            change_point = i
            break
    if change_point is None:
        change_point = len(s) - 1
    # if there is no increase in most recent period
    if change_point == 0:
        return None
    else:
        startdate = df.index[change_point]
        # use close price of two ends to calc total increase percent
        total_increase = round(df.iat[0, 0] / df.iat[change_point, 0] - 1, 4) * 100
        # mean week-over-week increase percent over this period
        mean_increase = round(df[:change_point]['p_change'].mean(), 2)
        first_above_mean_position = df.index.get_loc(df[df['p_change'] > mean_increase].index[0])
        recent_below_mean_count = first_above_mean_position
        std = round(df[:change_point]['p_change'].std(), 2)
        return startdate, total_increase, change_point+1, mean_increase, std, recent_below_mean_count

resultmap = {}
for code in stocks:
    try:
#         print('processing ', code)
        res = find_increase_trend(stocks[code])
        if res and res[2] >= 3:
            resultmap[code] = res
    except Exception as ex:
        print('error occurred in processing %s: %s' % (code, ex))
df = pd.DataFrame.from_dict(resultmap, orient='index')
df.columns = ['startdate', 'increase', 'length', 'mean', 'std', 'recent_slowdown_length']
df

error occurred in processing 600749: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 600822: index 0 is out of bounds for axis 0 with size 0
error occurred in processing 000553: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002349: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 000968: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 600145: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002608: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002065: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 000038: index 0 is out of bounds for axis 0 with size 0
error occurred in processing 002569: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002647: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002314: index 0 is out of bounds for axis 0 with size 0
error occurred in processing 002766: index 0 is out of bounds for axis 0 with size 0
error occurred in processing 000718: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002246: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 000033: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002207: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 601238: index 0 is out of bounds for axis 0 with size 0
error occurred in processing 002164: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002319: index 0 is out of bounds for axis 0 with size 0
error occurred in processing 600817: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 000007: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 002124: index 0 is out of bounds for axis 0 with size 0
error occurred in processing 002447: index 0 is out of bounds for axis 0 with size 0
error occurred in processing 000002: index -1 is out of bounds for axis 0 with size 0
error occurred in processing 600120: index -1 is out of bounds for axis 0 with size 0

        startdate  increase  length  mean    std  recent_slowdown_length
002084 2016-06-08      6.31       4  2.07   1.31                       1
600723 2016-06-08      5.19       4  1.73   2.69                       0
002500 2016-03-11     66.20      17  3.50   7.87                       1
002008 2016-05-27      2.34       6  0.49   2.58                       0
601688 2016-05-27      7.96       6  1.65   5.38                       0
000029 2016-06-08      1.27       4  0.42   0.93                       1
000657 2016-06-08     -2.23       4 -0.64   5.50                       0
000060 2016-06-08     -0.69       4 -0.12   5.60                       0
600576 2016-03-25     11.03       3  5.48   6.65                       1
000997 2016-06-17      8.52       3  4.20   3.38                       1
000572 2016-05-27      5.07       6  1.04   3.26                       2
600529 2016-06-17     -0.12       3 -0.04   2.61                       0
000617 2016-02-19     25.71      10  2.91   8.96                       1
600172 2016-05-20     24.59       7  3.81   4.37                       0
002765 2016-05-20      4.40       7  0.78   3.59                       0
000671 2016-06-08     -0.17       4 -0.04   2.08                       0
002047 2016-06-08      2.35       4  0.79   1.60                       0
002499 2016-06-17     -1.53       3 -0.69   5.52                       0
002476 2016-06-08      1.80       4  0.61   1.64                       0
603701 2016-06-03     37.47       5  8.30   2.52                       0
601678 2016-06-08      5.81       4  1.97   4.81                       2
002082 2016-06-08     -5.34       4 -1.72   5.23                       0
603778 2016-06-17      3.58       3  1.80   3.46                       0
002511 2016-06-17      5.96       3  2.94   0.91                       0
002071 2016-05-27      1.11       4  0.44   4.74                       2
002295 2016-06-08     -2.70       4 -0.88   2.67                       0
600883 2016-06-08     -3.92       4 -1.27   3.89                       0
000011 2016-06-08      4.93       4  1.68   4.48                       1
600809 2016-04-22     33.47      11  3.12   6.62                       0
000726 2016-05-27      2.59       6  0.54   2.63                       4
...           ...       ...     ...   ...    ...                     ...
002157 2016-05-06     28.03       9  3.23   4.74                       2
002097 2016-05-20     16.94       7  2.75   5.07                       0
002755 2016-06-08      9.20       4  3.01   3.21                       2
002785 2016-05-27     29.07       6  5.34   5.16                       1
000333 2016-06-08      4.23       4  1.41   2.35                       0
600207 2016-05-27      6.26       6  1.57   9.69                       0
002189 2016-05-27      1.57       6  0.39   4.37                       0
002006 2016-06-08     10.72       4  3.46   1.36                       2
600730 2016-05-27     10.32       6  2.15   6.71                       1
603698 2016-06-08      0.00       4  0.03   2.79                       0
603520 2016-05-27     26.16       6  4.88   5.66                       0
600460 2016-05-13     45.86       8  5.77   7.55                       0
600336 2016-05-20      4.35       7  0.79   4.43                       0
600830 2016-06-08      0.00       4  0.02   2.22                       0
600071 2016-05-27     28.97       6  5.52   8.85                       0
002649 2016-06-08      6.04       4  2.09   6.04                       0
601998 2016-06-08     -1.41       4 -0.46   1.77                       0
601969 2016-06-08      2.81       4  1.00   4.76                       0
600129 2016-06-08      1.08       4  0.39   3.10                       0
000151 2016-06-08     -0.58       4 -0.14   4.02                       0
002614 2016-06-08     -0.17       4 -0.04   2.52                       0
601177 2016-06-08     -0.10       4 -0.01   2.50                       0
600165 2016-06-08      8.63       3  4.31   5.66                       1
600828 2016-06-17      3.25       3  1.61   0.64                       1
002310 2016-05-20     15.46       7  2.56   5.79                       0
002150 2016-05-27     20.49       6  4.32  11.65                       3
002271 2016-06-03     11.15       5  2.69   1.62                       0
002043 2016-06-17     18.16       3  8.70   1.76                       0
600999 2016-06-17      4.20       3  2.08   0.01                       0
000826 2016-06-03     -1.24       5 -0.29   2.09                       0

[1356 rows x 6 columns]

In [29]:
OUTPUT_PATH = 'D:/analytics/stock/analysis_weekly.csv'
df.to_csv(OUTPUT_PATH)

In [28]:
find_increase_trend(WEEKLY_DATA_FOLDER + '/600005.csv')