In [32]:
import pandas as pd
import numpy as np

pd.set_option('max_rows', 20)

DAILY_DATA_FOLDER = 'D:/analytics/stock/hist'
DAILY_SAMPLE_PATH = 'D:/analytics/stock/hist/002415.csv'

df = pd.read_csv(DAILY_SAMPLE_PATH, index_col=0, parse_dates=True, \
                 usecols=['date', 'close', 'p_change', 'ma5', 'ma10', 'ma20'], \
                 error_bad_lines=False)
df

            close  p_change     ma5    ma10    ma20
date
2016-04-22  31.17      2.37  30.686  30.857  30.809
2016-04-21  30.45      0.79  30.732  30.806  30.803
2016-04-20  30.21     -1.60  30.880  30.831  30.875
2016-04-19  30.70     -0.65  31.064  30.946  30.953
2016-04-18  30.90     -1.59  31.004  31.016  31.038
2016-04-15  31.40      0.67  31.028  30.976  31.037
2016-04-14  31.19      0.19  30.880  30.918  30.967
2016-04-13  31.13      2.40  30.782  30.909  30.868
2016-04-12  30.40     -2.00  30.828  30.781  30.792
2016-04-11  31.02      1.17  31.028  30.799  30.743
...           ...       ...     ...     ...     ...
2013-05-10  35.42      0.88  36.090  36.675  36.675
2013-05-09  35.11     -3.49  36.406  36.814  36.814
2013-05-08  36.38      0.53  36.784  37.028  37.028
2013-05-07  36.19     -3.11  36.752  37.120  37.120
2013-05-06  37.35      0.95  36.890  37.275  37.275
2013-05-03  37.00      0.00  37.260  37.260  37.260
2013-05-02  37.00      2.15  37.325  37.325  37.325
2013-04-26  36.22     -1.79  37.433  37.433  37.433
2013-04-25  36.88     -5.92  38.040  38.040  38.040
2013-04-24  39.20      0.82  39.200  39.200  39.200

[688 rows x 5 columns]

In [5]:
r = df.resample('W')
# daily average price change percent on weekly basis
r['p_change'].mean().dropna().sort_values()

date
2015-07-12   -5.413333
2015-06-21   -3.862000
2013-12-08   -2.440000
2015-03-08   -2.382500
2014-03-23   -2.336000
                ...
2015-04-05    2.442000
2013-06-16    2.645000
2014-12-07    2.842000
2015-01-11    3.418000
2015-05-24    6.086000
Name: p_change, dtype: float64

In [2]:
import pandas as pd
import numpy as np

WEEKLY_DATA_FOLDER = 'E:/analytics/stock/hist-W-2016-0627'
WEEKLY_SAMPLE_PATH = 'E:/analytics/stock/hist-W-2016-0627/002643.csv'

df = pd.read_csv(WEEKLY_SAMPLE_PATH, index_col=0, parse_dates=True, \
                 usecols=['date', 'close', 'p_change', 'ma5', 'ma10', 'ma20'], \
                 error_bad_lines=False)
df

            close  p_change     ma5    ma10    ma20
date
2016-06-27  58.10      3.11  52.744  50.356  42.310
2016-06-24  56.35      7.33  50.660  48.755  41.205
2016-06-17  52.50      6.56  49.130  47.041  40.087
2016-06-08  49.27      3.73  48.250  45.011  39.300
2016-06-03  47.50     -0.38  47.926  43.202  38.561
2016-05-27  47.68     -2.09  47.968  41.792  38.409
2016-05-20  48.70      1.25  46.850  40.089  38.051
2016-05-13  48.10      0.94  44.952  38.317  37.742
2016-05-06  47.65     -0.13  41.772  36.678  37.301
2016-04-29  47.71     13.35  38.478  35.273  36.798
2016-04-22  42.09      7.34  35.616  34.263  36.314
2016-04-15  39.21     21.77  33.328  33.654  35.965
2016-04-08  32.20      3.27  31.682  33.133  35.823
2016-04-01  31.18     -6.65  31.584  33.588  36.013
2016-03-25  33.40      8.97  32.068  33.920  36.139
2016-03-18  30.65     -1.06  32.910  35.025  36.085
2016-03-11  30.98     -2.30  33.980  36.013  36.246
2016-03-04  31.71     -5.62  34.584  37.166  36.141
2016-02-26  33.60    -10.66  35.592  37.923  35.781
2016-02-19  37.61      4.47  35.772  38.323  35.320
2016-02-05  36.00      5.88  37.140  38.364  34.622
2016-01-29  34.00     -7.48  38.046  38.276  33.967
2016-01-22  36.75      6.52  39.748  38.512  33.309
2016-01-15  34.50    -22.39  40.254  38.437  32.517
2016-01-08  44.45      9.67  40.874  38.357  31.794

In [3]:
r_df = df.sort_index()
r_df.rolling(window=5)['close'].mean()

date
2016-01-08       NaN
2016-01-15       NaN
2016-01-22       NaN
2016-01-29       NaN
2016-02-05    37.140
2016-02-19    35.772
2016-02-26    35.592
2016-03-04    34.584
2016-03-11    33.980
2016-03-18    32.910
2016-03-25    32.068
2016-04-01    31.584
2016-04-08    31.682
2016-04-15    33.328
2016-04-22    35.616
2016-04-29    38.478
2016-05-06    41.772
2016-05-13    44.952
2016-05-20    46.850
2016-05-27    47.968
2016-06-03    47.926
2016-06-08    48.250
2016-06-17    49.130
2016-06-24    50.660
2016-06-27    52.744
Name: close, dtype: float64

In [18]:
s = df['ma5']
change_point = None
for i in range(0, len(s)-1):
    if s[i] < s[i+1]:
        change_point = i
        break
if not change_point:
    change_point = len(s) - 1
startdate = df.index[change_point]
increase = round(s[0] / s[change_point] - 1, 4) * 100
period = s[0:change_point+1]
print(startdate, increase, change_point+1, df[:change_point+1]['p_change'].mean(), \
      round(df[:change_point+1]['p_change'].std(), 2))

2016-06-03 00:00:00 10.05 5 4.07 3.07

In [1]:
import re
import glob
import os
import os.path
import pandas as pd
import sys

WEEKLY_DATA_FOLDER = 'E:/analytics/stock/hist-W-2016-0627'

reg = re.compile(r'(\d{6}).csv')
stocks = {t[1].group(1):t[0] for t in ((x, reg.search(x)) for x in glob.glob(WEEKLY_DATA_FOLDER + '/*.csv')) if t[1]}
# [os.path.isfile(x) for x in list(stocks.values())[:5]]

def find_increase_trend(path):
    df = pd.read_csv(path, index_col=0, parse_dates=True, \
                usecols=['date', 'close', 'p_change', 'ma5', 'ma10', 'ma20'], \
                error_bad_lines=False)
    if len(df) == 0:
        return None
    
    s = df['ma5']
    # the position from which MA starts to rise
    change_point = None
    for i in range(0, len(s)-1):
        if s[i] < s[i+1]:
            change_point = i
            break
    if change_point is None:
        change_point = len(s) - 1
    # if there is no increase in most recent period
    if change_point == 0:
        return None
    else:
        startdate = df.index[change_point]
        # use close price of two ends to calc total increase percent
        total_increase = round(df.iat[0, 0] / df.iat[change_point, 0] - 1, 4) * 100
        # the observation at change point doesn't count as increase, but only later ones
        trend_length = change_point
        # mean week-over-week increase percent over this period
        mean_increase = round(df[:change_point]['p_change'].mean(), 2)
        first_above_mean_position = df.index.get_loc(df[df['p_change'] >= mean_increase].index[0])
        # num of recent consecutive obserations whose WoW increase is lower than mean
        recent_below_mean_count = first_above_mean_position
        std = round(df[:change_point]['p_change'].std(), 2)
        return startdate, total_increase, trend_length, mean_increase, std, recent_below_mean_count

resultmap = {}
for code in stocks:
    try:
#         print('processing ', code)
        res = find_increase_trend(stocks[code])
        ''' take as valid entry when following conditions are met:
                1. increasing trend lasts longer than 3 observations 
                2. actual increase percent over the period is above 10% (MA trails behind actual varation)
                3. increasing trend didn't considerably slowdown lately
        '''
        if res and res[2] >= 3 and res[1] > 10 and res[-1] <= 1:
            resultmap[code] = res
    except Exception as ex:
        print('error occurred in processing %s: %s' % (code, ex))
df = pd.DataFrame.from_dict(resultmap, orient='index')
df.columns = ['startdate', 'increase', 'length', 'mean', 'std', 'recent_slowdown_length']
df

        startdate  increase  length   mean    std  recent_slowdown_length
601222 2016-05-27     17.46       5   3.38   5.40                       1
000585 2016-06-08     10.40       3   3.65   9.83                       1
002749 2016-05-27     19.51       5   3.74   5.43                       1
002609 2016-06-03     14.87       4   3.55   2.64                       1
002097 2016-05-20     16.94       6   2.75   5.07                       0
002448 2016-05-20     12.80       6   2.10   4.23                       0
002165 2016-05-06     15.16       8   1.84   3.85                       0
002635 2016-05-20     10.53       6   1.76   4.33                       0
002309 2016-03-25     23.74      14   1.62   4.33                       0
002217 2016-03-25     23.03      14   1.58   4.39                       0
600589 2016-05-27     12.62       5   2.56   6.29                       0
600172 2016-05-20     24.59       6   3.81   4.37                       0
600523 2016-05-27     11.77       5   2.27   2.38                       0
000617 2016-02-19     25.71       9   2.91   8.96                       1
603688 2016-05-27     14.44       5   2.82   4.66                       0
002771 2016-03-17     21.60       9   2.38   6.48                       1
002224 2016-05-20     29.88       6   4.64   6.81                       0
002734 2016-04-29     23.38       9   2.43   3.83                       0
002417 2016-06-08     10.56       3   3.53   6.55                       1
002056 2016-06-03     16.67       4   3.99   4.36                       0
000948 2016-05-27     16.05       5   3.13   5.39                       0
002159 2016-06-03     13.86       4   3.48   7.01                       0
002402 2016-05-27     57.55       5   9.83   9.27                       1
002785 2016-05-27     29.07       5   5.34   5.16                       1
603028 2016-06-08     15.59       3   5.41  12.20                       1
000792 2016-05-27     21.43       5   3.99   2.83                       1
000686 2016-05-27     13.84       5   2.70   4.40                       0
002582 2016-04-22     45.42      10   4.06   7.59                       0
002256 2016-05-27     85.77       5  14.50  20.58                       1
600188 2016-06-08     20.64       3   6.61   7.12                       0
...           ...       ...     ...    ...    ...                     ...
002046 2016-03-04     12.40       9   1.38   4.06                       1
000705 2016-06-08     12.83       3   4.14   3.15                       1
600768 2016-03-04     36.19       4   8.17   6.33                       0
002318 2016-06-03     20.16       4   4.89   7.31                       0
603678 2016-05-20     43.01       6   6.43   8.79                       1
002686 2016-03-11     34.92       6   5.40   8.50                       1
002556 2016-05-20     12.12       6   2.02   4.85                       0
603701 2016-06-03     37.47       4   8.30   2.52                       0
002401 2016-06-08     11.79       3   3.89   5.67                       0
600771 2016-06-08     12.89       3   4.15   2.66                       1
600730 2016-05-27     10.32       5   2.15   6.71                       1
002063 2016-05-27     17.99       5   3.44   4.41                       0
600460 2016-05-13     45.86       7   5.77   7.55                       0
603377 2016-05-20     22.91       6   3.66   6.32                       0
002436 2016-05-20     36.44       6   5.45   5.79                       0
002048 2016-04-01     41.74      13   2.87   5.82                       0
600298 2016-06-08     11.82       3   3.82   2.56                       0
002660 2016-06-03     11.19       4   2.78   4.93                       0
000933 2016-06-08     15.38       3   4.97   4.97                       0
002296 2016-05-13     29.68       7   3.85   4.02                       0
600303 2016-05-27     32.70       5   5.89   4.29                       0
002158 2016-06-08     18.12       3   6.21  12.71                       1
002790 2016-05-27     22.01       5   4.13   4.18                       0
002031 2016-05-27     12.99       5   2.64   6.62                       0
002728 2016-05-27     13.36       5   2.61   4.17                       0
600059 2016-05-20     12.68       6   2.04   2.57                       0
600058 2016-05-20     13.16       6   2.48  10.13                       0
000536 2016-05-20     24.19       6   3.89   7.15                       1
600887 2016-04-22     14.73      10   1.45   3.78                       0
002251 2016-06-03     10.80       4   2.71   5.53                       1

[313 rows x 6 columns]

In [35]:
OUTPUT_PATH = 'D:/analytics/stock/analysis_weekly.csv'
df.to_csv(OUTPUT_PATH)

In [2]:
find_increase_trend(WEEKLY_DATA_FOLDER + '/600529.csv')

(Timestamp('2016-06-17 00:00:00'), -0.12, 2, -0.04, 2.61, 0)

In [22]:
import numpy as np

BASIC_DATA_PATH = r'E:\analytics\stock\basic.csv'
basic_df = pd.read_csv(BASIC_DATA_PATH, index_col=False, parse_dates=['timeToMarket'], dtype={'code':np.str}, \
                       usecols=['code', 'pe', 'pb', 'outstanding', 'totals', 'esp', 'timeToMarket'], \
                       error_bad_lines=False, infer_datetime_format=True)
basic_df

        code       pe  outstanding     totals    esp     pb timeToMarket
0     603958    21.30      5436.00    21736.0  0.155   3.19     20160629
1     002802    30.34      2700.00    10800.0  0.113   3.78     20160629
2     600069     0.00     82537.40  124910.29 -0.035   3.10     19970430
3     002325    34.06     91356.09  120185.09  0.068   3.34     20091222
4     002651   100.32     31280.41   100250.0  0.025   5.29     20120106
5     300074     0.00     43451.62    52800.0 -0.017   5.79     20100427
6     002666    52.27     44626.83   75432.92  0.045   2.66     20120327
7     600767     0.00     34091.01   34101.01 -0.052  18.54     19961115
8     600528    65.12    145920.00   145920.0  0.043   2.63     20010528
9     000821  2233.90     34521.94   47773.26  0.002   5.00     19980626
10    300519    11.76      2000.00     8000.0  0.497   4.04     20160624
11    300221    44.11     40000.00    40226.8  0.105   9.34     20110525
12    600459   132.66     26097.76   26097.76  0.061   4.69     20030516
13    600076    34.16     36553.60   103426.4  0.107   5.70     19970526
14    603456    76.80     11568.00   44314.62  0.085   4.56     20141010
15    002799   158.99      2500.00    10000.0  0.062   9.15     20160608
16    002782   218.37     10650.00    42600.0  0.043  20.28     20151222
17    603131   126.95      2500.00    10000.0  0.109  11.94     20160607
18    300428    71.63      2020.00     8080.0  0.194   6.94     20150319
19    603909    32.93      2500.00    10000.0  0.127   4.03     20160628
20    002795   121.08      2500.00    10000.0  0.145  23.30     20160428
21    300414    81.53      6593.00    16853.0  0.115   9.34     20150513
22    002796   238.67      2000.00     8000.0  0.082  17.69     20160510
23    002800   362.99      1868.00     7468.0  0.051  15.25     20160530
24    603861   131.01      4910.00    40910.0  0.070   7.60     20160322
25    300191   686.38     20701.96    32000.0  0.015  11.39     20110316
26    300513     0.00      1906.00     7616.0 -0.028  21.29     20160530
27    600549   389.72     88657.39  108157.39  0.019   4.84     20021107
28    300431  1479.57     18764.28   27678.89  0.012  30.66     20150324
29    002320    25.72     42587.62    42588.0  0.149   3.06     20091216
...      ...      ...          ...        ...    ...    ...          ...
2848  300296    73.58     36856.03   75557.84  0.108   9.81     20120315
2849  000020  3336.89     18116.53   28316.11  0.002  20.11     19920428
2850  002428     0.00     64238.62    65312.0 -0.016   6.97     20100608
2851  300034   109.89     41759.73   41838.51  0.050   7.47     20091225
2852  002239    48.99     58001.71  107297.29  0.084   4.49     20080522
2853  300025   290.17     30616.84   42853.05  0.012   7.21     20091030
2854  300317    77.93      9317.73   44056.14  0.105   5.34     20120511
2855  300102  2890.51     42374.33   70455.32  0.001   2.55     20100812
2856  300449     0.00      7468.45    14418.4 -0.086  13.14     20150422
2857  600198     0.00     83942.25   88210.84 -0.171   4.60     19981021
2858  000779     0.00     18644.09   18644.09 -0.083  23.71     19970528
2859  002027    57.81     20489.35  436841.69  0.160  26.96     20040804
2860  000663     0.00     17031.85   34101.98 -0.050   2.24     19961206
2861  600381   108.86     19892.58   68831.39  0.033   5.58     20010508
2862  000736     0.00     13873.37   29719.39 -0.019   2.67     19970425
2863  600749     0.00     18913.78   18913.78 -0.153   6.24     19961015
2864  300520     0.00         0.00        0.0  0.000   0.00            0
2865  300517     0.00         0.00        0.0  0.000   0.00            0
2866  002805     0.00         0.00        0.0  0.000   0.00            0
2867  002803     0.00         0.00        0.0  0.000   0.00            0
2868  000155     0.00     47000.00    47000.0 -0.074   0.00     20000926
2869  000033     0.00     42972.00    42972.0  0.004   0.00     19940103
2870  603069     0.00         0.00        0.0  0.000   0.00            0
2871  603016     0.00         0.00        0.0  0.000   0.00            0
2872  601966     0.00         0.00        0.0  0.000   0.00            0
2873  600919     0.00         0.00        0.0  0.000   0.00            0
2874  600732     0.00     44638.30    44638.3 -0.017   0.00     19960816
2875  600710     0.00     64028.39   64028.39 -0.072   0.00     19960701
2876  300522     0.00         0.00        0.0  0.000   0.00            0
2877  300521     0.00         0.00        0.0  0.000   0.00            0

[2878 rows x 7 columns]

In [50]:
REPORT_DATA_FOLDER = r'E:/analytics/stock/report'

reg = re.compile(r'(\d{4}-\d).csv')
reports = {t[1].group(1):t[0] for t in ((x, reg.search(x)) for x in glob.glob(REPORT_DATA_FOLDER + '/*.csv')) if t[1]}
report_dfs = []
report_terms = []
for term in reports:
    rdf = pd.read_csv(reports[term], index_col=False, dtype={'code':np.str}, \
                           usecols=['code', 'roe', 'profits_yoy'], \
                           error_bad_lines=False)
    rdf.index = rdf['code']
    del rdf['code']
    print(term, ':')
    print(rdf.head(5))
    report_dfs.append(rdf)
    report_terms.append(term)
print(report_dfs)
all_report_df = pd.concat([report_dfs[0], report_dfs[1]], axis=1, join='inner')

2016-1 :
          roe  profits_yoy
code
002801   4.53        22.94
603909   4.16          NaN
300518   3.65        23.94
300519  12.11         3.35
300515   2.48      -425.65
2015-4 :
          roe  profits_yoy
code
002801  22.17        16.01
300519  44.38        12.43
603909  19.34         7.98
300518  20.97         5.01
601127  15.67        23.93
2015-3 :
          roe  profits_yoy
code
603959   9.32          NaN
603701  17.07          NaN
002791  11.51          NaN
300484  18.75          NaN
002792  19.76          NaN
2015-2 :
          roe  profits_yoy
code
603608   7.11          NaN
300500   8.45          NaN
300499   5.12          NaN
603377  26.96          NaN
601900   8.73          NaN
[          roe  profits_yoy
code
002801   4.53        22.94
603909   4.16          NaN
300518   3.65        23.94
300519  12.11         3.35
300515   2.48      -425.65
603339   3.85        -5.79
002800   1.40        78.60
603959   0.44          NaN
300513  -0.71          NaN
603737  -2.55       -34.93
300516   5.15        13.08
603779    NaN        83.38
002797   1.62       -54.27
002796   2.53        -3.12
300510   1.90        18.68
603101   3.29        -1.21
300511   7.89       140.07
000638   4.24      -274.15
600833   1.78        10.00
600843   2.35         3.12
300401   0.59       -36.77
600806  -3.05     -2021.95
600366  16.24       531.28
600295   1.22       -18.23
000823   0.52       -46.28
603118   3.81        42.73
600728  -0.53       -14.99
600500   0.60       -44.46
002101   2.20        29.99
000632   0.18       -26.56
...       ...          ...
002793   4.47       -14.16
002293   4.21        -6.34
002223   6.51        30.86
002667   0.13       -89.79
002116   4.29         3.20
002177   2.02         1.30
000599   0.95       176.97
300286   2.84        10.06
002023   0.62       -19.50
600971   0.09      -102.96
603618   1.73        29.20
300125  -1.14       -33.71
002539   1.72        10.47
002349   2.03       209.38
300031   2.24        -6.79
300174   1.57         2.78
000529   1.68         3.57
300301   1.03        99.11
300034   1.72         2.76
300223  -0.31        39.76
600595   2.34      -355.26
002564  -0.32      -142.15
300383   7.59       172.17
300191   0.41      -189.53
000600   5.99        20.30
002415   5.76         9.47
300420   0.43        38.47
600312   2.20       549.93
300336   2.08        25.15
002707   2.31        41.77

[2862 rows x 2 columns],            roe  profits_yoy
code
002801   22.17        16.01
300519   44.38        12.43
603909   19.34         7.98
300518   20.97         5.01
601127   15.67        23.93
300515   19.52       -10.33
002799   11.60        -8.65
603131   15.42        -4.44
002800   12.73         1.06
601611   15.79        19.70
300516   33.82        28.68
300513   13.55        12.90
603959   17.68         4.74
603737   23.20        12.51
000809   -5.31      -723.32
002069  -24.04       -79.57
600767  -21.20      -370.34
000630   -4.63      -321.66
300318    1.07       -68.85
000723  -10.46     -3940.28
000539   14.42         7.78
002306 -122.27      -109.59
002366    1.70       -50.11
000004    1.54       -67.19
300028    4.04       -50.31
002200    1.26       122.52
600822 -890.05    -11148.84
000767    7.53       -25.19
600645   14.88       487.49
600189    3.39       321.49
...        ...          ...
603729    4.73       -48.10
002082    4.81       -41.39
600769   16.04       384.48
002742   11.10        20.48
002349    5.56        97.83
600053   28.51       279.28
600764  -22.88     -2494.87
002522    4.97        12.56
600562   19.50        28.05
000971    0.86       -36.56
600829    7.87       248.59
000627   15.73       194.99
300298   12.42       -27.20
600063    2.75       -39.25
600722   33.35      -178.36
002168   11.63      -244.43
300351   11.21         0.55
002572   21.85        40.42
300301    8.57        99.05
000711   13.80      -152.24
600116   10.36        45.86
002654    5.74        39.79
300401    1.70       -67.62
002359    1.22      -113.86
000836    9.75      -195.96
002192    1.64      -110.80
002099   14.52       865.24
600816   42.73        68.26
000838   11.63        12.51
000667    7.56       468.50

[2866 rows x 2 columns],            roe  profits_yoy
code
603959    9.32          NaN
603701   17.07          NaN
002791   11.51          NaN
300484   18.75          NaN
002792   19.76          NaN
300506   13.12          NaN
002789    9.66          NaN
603520   11.52          NaN
002790   20.60          NaN
300501   18.45          NaN
002788   11.47          NaN
300499    6.27         3.64
601900   13.97        18.84
002797     NaN          NaN
001979     NaN        11.13
603778    7.42        43.86
002778    7.85         5.56
300494   17.82       -35.49
002777   12.44         3.30
300491   13.54        13.65
300490    9.56         7.12
002787   12.17        12.73
002785     NaN        18.57
002786    7.23         5.68
300497   21.21        47.76
300492   10.43     -1402.85
603866   22.68        28.97
601155    6.24          NaN
601611     NaN       -27.43
603696   10.04        -9.38
...        ...          ...
002644    3.12        18.47
002475   13.38        51.58
002650    6.51         2.16
002401    7.03         8.70
000035    7.19        21.77
000877   -4.70      -205.34
600277    1.16       -72.24
600397    0.57       -39.63
300177    1.11       -78.03
002446    7.19       284.69
300174    5.45       276.63
002327   11.02         2.67
002157    7.48      -258.89
300437    7.63       -11.97
002423   -3.19       224.65
002686    9.13        13.28
600306 -145.57       -38.23
002254    4.29       -35.37
600227   -5.12       -54.73
000639    9.88        35.85
300238    6.13         9.31
600160    1.91        19.36
000690   10.17       -39.21
300136   16.59       186.88
002772   10.00        19.94
002480   -3.24      -441.98
600446   14.51       103.44
000705    0.61       -81.00
600165   -1.90       162.85
002107    8.78       308.88

[2813 rows x 2 columns],           roe  profits_yoy
code
603608   7.11          NaN
300500   8.45          NaN
300499   5.12          NaN
603377  26.96          NaN
601900   8.73          NaN
001979   8.85          NaN
603778   6.11          NaN
300491   8.65          NaN
002787   8.06          NaN
300490   7.09          NaN
002778   4.74          NaN
603299   2.33       -34.74
002777   9.94          NaN
300494  12.28          NaN
002781   8.26          NaN
300492   9.51          NaN
603996   6.19          NaN
300497  13.75          NaN
002786   5.57          NaN
603508  14.48          NaN
002785   0.71          NaN
603866  30.32          NaN
300495  14.32          NaN
002782   5.58          NaN
601611    NaN       -22.35
603131   8.16          NaN
603737   6.90          NaN
603909   9.23          NaN
300493   7.40          NaN
603999   4.20          NaN
...       ...          ...
002143  18.55      6012.46
000547   6.66       102.93
002675   4.19        -9.76
601028   3.34        63.98
300274   6.83        73.90
002674   0.88       -76.09
002381   4.46       -20.86
600157   2.63        20.60
600867  11.78        76.04
002184   3.74       161.06
300116   0.97      -546.96
002359   0.10      -106.43
000928   9.96      -204.66
002797    NaN       293.59
002170   3.88       -41.32
002258   7.35        22.09
300038   1.91        46.55
300143   1.95      -139.81
000971 -58.53        64.64
002326   6.36       255.49
002014   5.21        19.24
002644   2.54        19.42
601216   5.89        -3.02
000537   4.78       -50.75
600114   6.06        40.59
002168   9.95      5135.22
000690   7.41       -30.00
000667   0.67        -8.54
002086   2.82        16.14
002107   5.36       691.70

[2821 rows x 2 columns]]

ValueError: Shape of passed values is (4, 4282), indices imply (4, 2514)